{% extends 'base.html' %}

{% block title %}Мої QR-Коди{% endblock %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'myqrs.css' %}">
{% endblock %}

{% block body %}
    <div>
        {% load static %}
        <h1>Мої QR-Коди</h1>
        <div>
            <form class="qr-code" method="post">
                {% csrf_token %}
                {% for qr in qrs %}
                    <h2>{{ qr.url }}</h2>
                    <hr color="#C7CCDA">
                    <div>
                        <img src="{% static 'qr/img/qr_{{ qr.pk }}.png' %}" alt="QR Code">
                        <p>
                            Сайт: Youtube<br>
                            Розмір: 400x400<br>
                            Колір QR Коду: чорний<br>
                            Форма коду: квадратний<br>
                            Зображення в середині: немає<br>
                            <br>
                            Створений: 1.01.1970
                        </p>
                        <button type="submit" name="del-{{ qr.pk }}">Видалити</button>
                    </div>
                {% endfor %}
            </form>
        </div>
    </div>
{% endblock %}