* {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    background-color: white;
    border-radius: 27px;
}

h2 {
    font-size: 20px;
}

button {
    font-size: 20px;
    font-weight: bold;

    color: white;
    background-color: #285FEF;
    border-radius: 100px;
    border: none;

    padding: 15px 22px;
    transition: all 0.3s;
}

button:hover {
    background-color: #0030B1;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    background-color: #ECEFF7;
    border-radius: 27px;
    overflow: scroll;
    overflow-x: hidden;

    padding: 10px;
}

img {
    width: 170px;
    height: 170px;
}

::-webkit-scrollbar {
    width: 0;
}