{% extends 'base.html' %}

{% load static %}

{% block title %}Згенерувати QR-код{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'gen.css' %}">
{% endblock %}


{% block body %}
    <form method="post">
        <h1>Сгенерувати QR </h1>
        {% csrf_token %}
        <input type="text" placeholder="Введіть своє посилання сюди" name="url" required>
        <input type="text" placeholder="Введіть розмір коду" name="size" required>
        <input type="text" placeholder="Введіть колір" name="color" required>
        <input type="text" placeholder="Введіть форму коду" name="shape" required>
        <input type="text" placeholder="Введіть посилання на зображення усередині" name="img" required>
        <button type="submit">Згенерувати QR-код</button>
    </form>
{% endblock %}