{% extends 'base.html' %}


{% load static %}


{% block title %}Регистрація{% endblock %}


{% block head %}
    <link rel="stylesheet" href="{% static 'reg.css' %}">
{% endblock %}


{% block body %}
    <form method="post">
        <h1>Регистрація</h1>
        {% csrf_token %}
        <input type="text" placeholder="Ведіть ім'я сюди..." required>
        <input type="text" placeholder="Ведіть прізвище сюди..." required>
        <input type="text" placeholder="Ведіть email сюди..." required>
        <input type="text" placeholder="Ведіть пароль сюди..." required>
        <button>Зареєструватись</button>
    </form>
{% endblock %}