* {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    background-color: white;
    border-radius: 27px;
    padding: 0 20px;
}

h2 {
    font-size: 20px;
}

.btn {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;

    color: white;
    background-color: #285FEF;
    border-radius: 100px;
    border: none;
    padding: 15px 22px;
    transition: all 0.3s;
}

.btn:hover {
    background-color: #0030B1;
    cursor: pointer;
}

.download {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;

    color: black;
    background-color: #D6E1FF;
    border-radius: 100px;
    border: none;
    padding: 15px 22px;
    transition: all 0.3s;
}

.download:hover {
    background-color: #c5d1f3;
    cursor: pointer;
}

.sub-content {
    display: flex;
    justify-content: end;
    align-items: center;
}

.sub-btns {
    display: flex;
    flex-direction: column;
    flex-grow: 2;

    gap: 10px;
}

.gen-more-container {
    display: flex;
    justify-content: right;
    width: 100%;
}

.settings {
    width: 1036px;
    height: 571px;
}

.settings-div {
    display: flex;
    flex-direction: column;
    width: 1015px;
    height: 404px;
    background-color: #ECEFF7;
    overflow-x: hidden;
    border-radius: 30px;
    padding: 10px;
    gap: 10px;
}

img {
    width: 170px;
    height: 170px;
}

::-webkit-scrollbar {
    width: 0;
}