{% extends 'base.html' %}

{% load static %}

{% block title %}Головна сторінка{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'gen.css' %}">
{% endblock %}


{% block body %}
    <div>
        <h1>Free</h1>
        <hr>
        <p>безкоштовно зареєстрованому користувачеві можна створити один QR-код на 6-ть місяців.</p>
        <p>Вже придбана</p>
    </div>
    <div>
        <h1>Standart</h1>
        <hr>
        <p>вартість підписки 2 $ на місяць. 10 кастомізованих QR-кодів.</p>
        <a href="">Придбати: 2$</a>
    </div>
    <div>
        <h1>Pro</h1>
        <hr>
        <p>до 100 QR-кодів, підписка 10 $ на місяць.</p>
        <a href="">Придбати: 10$</a>
    </div>
{% endblock %}